
<section>
    <h1 class="text-center my-3">Bem-vindo ao Gerenciamento da ELETROIN</h1>
    <br>
</section>
<section>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
    <div class="col">
        <div class="card h-100" style="background-color:rgb(49, 141, 226);">
            <!-- Carrossel dentro do card -->
            <div id="carouselExampleCard" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Primeira imagem (ativa) -->
                    <div class="carousel-item active">
                        <img src="iphone 1666.jpg" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="iphone-16 preto.webp" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h5 class="card-title">Apple iPhone 16 (128 GB) </h5>
                <p class="card-text">A partir de R$6.489,54</p>
            </div>
        </div>
    </div>
</div>
<div class="col">
        <div class="card h-100" style="background-color:rgb(49, 141, 226);">
            <!-- Carrossel dentro do card -->
            <div id="carouselExampleCard" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Primeira imagem (ativa) -->
                    <div class="carousel-item active">
                        <img src="carregador novo.jpg" class="d-block w-100" style="width: 5%;" alt="">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="carregador novin.jpg" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h5 class="card-title">Cabo Usb-C-Lightning + Fonte Carregador</h5>
                <p class="card-text"> A partir de R$59,90</p>
            </div>
        </div>
    </div>
</div>
<div class="col">
        <div class="card h-100" style="background-color:rgb(49, 141, 226);">
            <!-- Carrossel dentro do card -->
            <div id="carouselExampleCard" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Primeira imagem (ativa) -->
                    <div class="carousel-item active">
                        <img src="fritadeira.jpg" class="d-block w-100" style="width: 70%;" alt="">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="frita.jpg" class="d-block w-100" style="width: 70%;" alt="">
                    </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h5 class="card-title">Fritadeira Sem Óleo Air Fryer </h5>
                <p class="card-text"> A partir de R$464,00</p>
            </div>
        </div>
    </div>
</div>
<div class="col">
        <div class="card h-100" style="background-color:rgb(49, 141, 226);">
            <!-- Carrossel dentro do card -->
            <div id="carouselExampleCard" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Primeira imagem (ativa) -->
                    <div class="carousel-item active">
                        <img src="gril.webp" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="gril 2.webp" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h5 class="card-title">Grill Elétrico</h5>
                <p class="card-text">A partir de R$186,14</p>
            </div>
        </div>
    </div>
</div>
<div class="col">
        <div class="card h-100" style="background-color:rgb(49, 141, 226);">
            <!-- Carrossel dentro do card -->
            <div id="carouselExampleCard" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Primeira imagem (ativa) -->
                    <div class="carousel-item active">
                        <img src="fone sem fio.jpg " class="d-block w-100" style="width: 30%;" alt="">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="fone foneee.png" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h5 class="card-title">Headphone Philips bluetooth on-ear com microfone</h5>
                <p class="card-text">A partir de R$90,80</p>
            </div>
        </div>
    </div>
</div>
<div class="col">
        <div class="card h-100" style="background-color:rgb(49, 141, 226);">
            <!-- Carrossel dentro do card -->
            <div id="carouselExampleCard" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Primeira imagem (ativa) -->
                    <div class="carousel-item active">
                        <img src="tablet.jpg" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
                    <!-- Segunda imagem -->
                    <div class="carousel-item">
                        <img src="tablett.webp" class="d-block w-100" style="width: 30%;" alt="">
                    </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h5 class="card-title">Galaxy Tab A9+ 5G</h5>
                <p class="card-text"> A partir de R$1.746,95</p>
            </div>
        </div>
    </div>
</div>
</section>
 
<footer style="background-color: #02265b; width: 100%; margin-top: 60px; position: relative;" class="text-white py-1">
  <section style="color: aliceblue;">
    <div class="text-center">
      <p class="my-2">Todos os direitos reservados &copy; 2024</p>
    </div>
  </section>
</footer>
  